html {
  background: url("../img/blueb.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  margin: 0 auto;
  text-align: center;
}

nav {
  border-bottom: 2px solid #3d3e3f;
  border-top: 2px solid #3d3e3f;
  padding: 10px 0 10px 425px;
  color: solid white;
  -webkit-box-shadow: 0 8px 6px -8px black;
  -moz-box-shadow: 0 8px 6px -8px black;
  box-shadow: 0 8px 6px -8px black;
}

.tab > li {
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  color: #FFF;
  text-align: center;
  letter-spacing: 15px;
  text-indent: 20px;
  position: center;
  display: inline;
  list-style-type: none;
  padding-right: 50px;
}

/*Images-content grid, responsive.
*/
.g {
  padding-left: 9em;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 8em;
}

.g li {
  float: left;
  padding: .75em;
  width: 250px;
  height: 250px;
}

.g img {
  display: block;
  width: 250px;
  height: 250px;
}

/*Images-content grid, responsive.
*/
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 15px;
  font-size: 1.6rem;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 60px;
  color: #EF4136;
}

.contact {
  padding-left: 55px;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding-bottom: 50px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #3d3e3f;
  letter-spacing: 8px;
  text-indent: 40px;
}

h2 .in a:link {
  text-decoration: none;
  color: #3d3e3f;
  font-family: 'Opens Sans', serif;
}

p {
  color: #3d3e3f;
  font-family: georgia, serif;
  line-height: 1.6;
  margin: 0 100px 0px 100px;
  font-size: 1.2rem;
  padding-bottom: 50px;
}
p a:link {
  text-decoration: none;
  color: #3d3e3f;
  font-family: 'Opens Sans', serif;
}

footer {
  margin: 0 auto;
  text-align: center;
}
